.greyscale {
  mix-blend-mode: luminosity;
}

.acc-tools-click {
  display: inline-block;
  position: fixed;
  width: 38px;
  height: 38px;
  background-color: #000;
  bottom: 50px;
  z-index: 5;
  padding: 3px;
  right: 46px;
  border-radius: 50%;
}

[dir="rtl"] .acc-tools-click {
  right: unset;
  left: 46px;
}

.acc-tools {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  z-index: 10;
  transition: 0.2s;
}

[dir="rtl"] .acc-tools {
  right: unset;
  left: -100%;
}

.acc-tools .acc-tools-container {
  position: relative;
  max-width: 460px;
  margin-left: auto;
  height: 100%;
  background-color: #fff;
  padding: 0 50px;
  overflow-y: scroll;
}

[dir="rtl"] .acc-tools .acc-tools-container {
  margin-right: auto;
  margin-left: unset;
}

.toolbar-loading .acc-tools-click {
  bottom: 130px;
}

.block-title > h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.acc-tools .acc-tools-container > .large {
  margin-bottom: 100px;
}

.acc-tools .acc-tools-container::-webkit-scrollbar {
  display: none;
}

.acc-tools.active {
  right: 0;
  transition: 0.2s;
}

[dir="rtl"] .acc-tools.active {
  right: unset;
  left: 0;
}

.acc-tools .acc-tools-close {
  position: absolute;
  right: 25px;
  top: 50px;
  animation: rotation 0.7s linear;
}

[dir="rtl"] .acc-tools .acc-tools-close {
  right: unset;
  left: 25px;
}

.acc-tools .large {
  font-size: 28px;
}

.acc-tools .block {
  margin-bottom: 70px;
}

.acc-tools .block > h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}

.acc-tools .block .field--name-field-seeds-text a {
  color: #000;
  text-decoration: underline;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.dark-mode-container,
.font-resize-container {
  margin-bottom: 70px;
}

.dark-mode-menu .dark-mode-item a {
  display: block;
  width: 100%;
  color: #000;
  padding: 10px;
  border-radius: 5px;
}

.dark-mode-menu .dark-mode-item {
  margin-bottom: 15px;
}

.dark-mode-menu .dark-mode-item a img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  max-width: 100%;
}

[dir="rtl"] .dark-mode-menu .dark-mode-item a img {
  margin-right: unset;
  margin-left: 10px;
}

.dark-mode-menu .dark-mode-item a.active,
.dark-mode-menu .dark-mode-item a:hover {
  color: #fff;
  background-color: #000;
}

.font-resize-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.font-resize-menu .font-resize-item a {
  color: #000;
  width: 70px;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.font-resize-menu .font-resize-item a:hover {
  background-color: #000;
  color: #fff;
}

@media (min-width: 1199px) {
  .acc-tools .acc-tools-container {
    width: 60%;
    padding: 30px 50px;
  }
}

@media (max-width: 991px) {
  .acc-tools .acc-tools-container {
    width: 100%;
    padding: 30px 20px;
  }

  .acc-tools-click {
    left: auto;
    right: 16px;
    bottom: 70px;
  }

  [dir="rtl"] .acc-tools-click {
    right: auto;
    left: 16px;
  }

  .font-resize-menu {
    flex-wrap: wrap;
  }
}
