<div class="acc-tools-click">
	<a href="#"><img src="/{{ module_path }}/assets/images/accessibility.svg"></a>
</div>
<div class="acc-tools">
	<div class="acc-tools-container">
		<a class="acc-tools-close" href="#"><img src="/{{ module_path }}/assets/images/close.svg"></a>
		<h1 class="large">{{ 'Accessibility Tools'|t }}</h1>
		{% if not dark_mode %}
			<div class="dark-mode-container">
				<div class="block-title">
				<h2>{{'Dark Mode'|t}}</h2>
				</div>
				<ul class="dark-mode-menu">
					<li class="dark-mode-item">
						<a class="colored-click" href="#"><img src="/{{ module_path }}/assets/images/coloredscale.svg">{{ 'Colored'|t }}</a>
					</li>
					<li class="dark-mode-item">
						<a class="greyscale-click" href="#"><img src="/{{ module_path }}/assets/images/grayscale.svg">{{ 'Grayscale'|t }}</a>
					</li>
				</ul>
			</div>
		{% endif %}
		{% if not font_resize %}
			<div class="font-resize-container">
				<div class="block-title">
					<h2>{{'Font Resize'|t}}</h2>
				</div>
				<ul class="font-resize-menu">
					<li class="font-resize-item">
						<a class="small-click "  id="accessibility_small" targetfor="accessibility_small" href="#">{{ 'Small'|t }}</a>
					</li>
					<li class="font-resize-item">
						<a class="medium-click" id="accessibility_medium" targetfor="accessibility_medium" href="#">{{ 'Medium'|t }}</a>
					</li>
					<li class="font-resize-item">
						<a class="large-click" id="accessibility_large" targetfor="accessibility_large" href="#">{{ 'Large'|t }}</a>
					</li>
					<li class="font-resize-item">
						<a class="very-big-click"  id="accessibility_very_large" targetfor="accessibility_very_large" href="#">{{ 'X-Large'|t }}</a>
					</li>
				</ul>
			</div>
		{% endif %}
	</div>
</div>
